@import "tailwindcss";

@theme {
  --font-roboto: roboto, "arial", "helvetica", "sans-serif";
  --font-raleway: raleway, "arial", "helvetica", "sans-serif";
  --font-weight-extrablack: 1000;

  --color-background: white;
  --color-accent-bg: #BFDBFE;
  --color-accent-text: #60A5FA;
  --color-text-1: black;
  --color-text-2: #4b5563;
  --color-text-3: #9ca3af;
}

@media (prefers-color-scheme:dark){
  --color-background: black;
  --color-accent-bg: #f97316;
  --color-accent-text: #fb923c;
  --color-text-1: white;
  --color-text-2: #9ca3af;
  --color-text-3: #4b5563;

}

html, body {
  margin: 0;
  padding: 0;
  font: roboto;
  background: var(--color-background);
  color: var(--color-text-1);
}

@layer utilities {
  @keyframes blink {
    0%, 100%{
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}